<body style="text-align: center !important; width: 100%; margin: 0 auto; margin: auto !important; background-image:url('http://bgwall.net/wp-content/uploads/2014/01/Beautiful-Green-Earth-Closeup-Wallpaper.jpg'); color: white;">

	<h1><img src="http://i.imgur.com/JxyzYCU.png"></h1>
	
	
	<br>
<h1> Welcome to the Lights Out App!</h1>
<br>
<%= button_to "Sign In", new_user_session_path, :method => :get, class: "btn" %>
	<br>
	<h1> Or</h1>
	<br>
<%= button_to "Sign up", new_user_registration_path, :method => :get, class: "btn" %>

</body>